.background-image{
  display: flex;
  flex-direction: column;
  background-image: url("../teacherbg.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  min-height: 100vh;
}

.profile-header {
    margin: 2%;
    font-size: calc(10px + 2vmin);
  }

  div.menu-buttons{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 2%;
  }